[submodule "Submodules/GitHubUpdates"]
	path = Submodules/GitHubUpdates
url=git@github.com:macmade/GitHubUpdates.git
[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
url=git@github.com:macmade/xcconfig.git
